Repository GoogleChrome/web.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content, @mgechev, @philipwalton, @petele, @housseindjirdeh

.github/CODEOWNERS:

# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @GoogleChrome/web-dev-eng

# Docs
src/site/content/ @GoogleChrome/web-dev-content
src/images/authors/ @GoogleChrome/web-dev-content
src/site/content/en/angular/ @mgechev @GoogleChrome/web-dev-content
src/site/content/en/authors/ @GoogleChrome/web-dev-eng
src/site/content/en/metrics/ @philipwalton @GoogleChrome/web-dev-content
src/site/content/en/newsletter/ @GoogleChrome/web-dev-eng
src/site/content/en/progressive-web-apps/ @petele @GoogleChrome/web-dev-content
src/site/content/en/react/ @housseindjirdeh @GoogleChrome/web-dev-content
src/site/content/en/tags/ @GoogleChrome/web-dev-eng
src/site/content/en/vitals/ @philipwalton @GoogleChrome/web-dev-content

# File types
# These should override docs directory owners.
*.js @GoogleChrome/web-dev-eng
*.json @GoogleChrome/web-dev-eng
*.css @GoogleChrome/web-dev-eng
*.scss @GoogleChrome/web-dev-eng
*.html @GoogleChrome/web-dev-eng
*.htm @GoogleChrome/web-dev-eng
*.njk @GoogleChrome/web-dev-eng
*.yml @GoogleChrome/web-dev-eng
*.yaml @GoogleChrome/web-dev-eng
*.toml @GoogleChrome/web-dev-eng
*.sh @GoogleChrome/web-dev-eng

# Exceptions
src/site/_data/authorsData.json @GoogleChrome/web-dev-content
src/site/_data/tagsData.json @GoogleChrome/web-dev-content
src/site/_data/paths/*.json @GoogleChrome/web-dev-content
src/site/_data/paths/progressive-web-apps.json @petele @GoogleChrome/web-dev-content

Fix a typo and add a bit about eTLD
  src/site/content/en/secure/same-site-same-origin/index.md
Owners: @GoogleChrome/web-dev-content

Update pl dir
  src/site/content/pl/authors/feed.njk
  src/site/content/pl/blog/aria-poison-or-antidote/index.md
  src/site/content/pl/blog/css-marker-pseudo-element/devtools.png
  src/site/content/pl/blog/css-marker-pseudo-element/hero.png
  src/site/content/pl/blog/css-marker-pseudo-element/index.md
  src/site/content/pl/blog/css-marker-pseudo-element/marker-fun.png
  src/site/content/pl/blog/css-marker-pseudo-element/thumb.png
  src/site/content/pl/blog/fugu-status/index.md
  src/site/content/pl/blog/hid-examples/index.md
  src/site/content/pl/blog/introducing-tooling-report/index.md
  src/site/content/pl/blog/local-fonts/google-sans.png
  src/site/content/pl/blog/local-fonts/hero.jpg
  src/site/content/pl/blog/local-fonts/index.md
  src/site/content/pl/blog/media-session/index.md
  src/site/content/pl/blog/notification-triggers/index.md
  src/site/content/pl/blog/optimize-cls/index.md
  src/site/content/pl/blog/optimize-lcp/index.md
  src/site/content/pl/blog/origin-trials/index.md
  src/site/content/pl/blog/serial/index.md
  src/site/content/pl/blog/sign-in-form-best-practices/index.md
  src/site/content/pl/blog/user-agent-client-hints/index.md
  src/site/content/pl/blog/web-animations/index.md
  src/site/content/pl/fast/codelab-preload-critical-assets/index.md
  src/site/content/pl/feed.njk
  src/site/content/pl/handbook/author-profile/index.md
  src/site/content/pl/index.njk
  src/site/content/pl/pl.11tydata.js
  src/site/content/pl/progressive-web-apps/define-install-strategy/index.md
  src/site/content/pl/reliable/adaptive-loading-with-service-workers/index.md
  src/site/content/pl/reliable/app-shell-ux-with-service-workers/index.md
  src/site/content/pl/reliable/instant-navigation-experiences/index.md
  src/site/content/pl/reliable/resilient-search-experiences/index.md
  src/site/content/pl/tags/feed.njk
Owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content

Added payment paragraph
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

Fix section hero image.
  src/images/collections/media.svg
Owners: @GoogleChrome/web-dev-eng

Bring back shark.
  src/site/content/en/blog/introducing-model-viewer/hero.jpg
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/model-viewer/index.md
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Change alt description.
  src/site/content/en/blog/introducing-model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

New info about payload size.
  src/site/content/en/media/video-and-source-tags/index.md
Owners: @GoogleChrome/web-dev-content

Fix a typo and add a bit about eTLD (#3784)
  src/site/content/en/secure/same-site-same-origin/index.md
Owners: @GoogleChrome/web-dev-content

fix: included review suggestion
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

Content delivery networks article
  src/site/content/en/fast/content-delivery-networks/cdn1.png
  src/site/content/en/fast/content-delivery-networks/cdn2.png
  src/site/content/en/fast/content-delivery-networks/cdn3.png
  src/site/content/en/fast/content-delivery-networks/cdn4.png
  src/site/content/en/fast/content-delivery-networks/cdn5.png
  src/site/content/en/fast/content-delivery-networks/index.md
Owners: @GoogleChrome/web-dev-content

Make note about where the feature was moved more specific.
  src/site/content/en/blog/text-fragments/index.md
Owners: @GoogleChrome/web-dev-content

Track ToC interactions
  src/lib/components/TableOfContentsButton/index.js
Owners: @GoogleChrome/web-dev-eng

Add initial draft for Native lazy-loading for CMSs post.
  src/images/authors/felixarntz.jpg
  src/images/authors/felixarntz@2x.jpg
  src/site/_data/authorsData.json
  src/site/content/en/blog/native-lazy-loading-for-cmss/hero.png
  src/site/content/en/blog/native-lazy-loading-for-cmss/index.md
Owners: @GoogleChrome/web-dev-content

Fix quotes and apostrophes.
  src/site/content/en/blog/native-lazy-loading-for-cmss/index.md
Owners: @GoogleChrome/web-dev-content

Fix JS style
  src/lib/components/TableOfContentsButton/index.js
Owners: @GoogleChrome/web-dev-eng

fix: format domains as inline code
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

fix: from review
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

fix: typo
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

fix: included review fix
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

fix: from review
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

fix: rewrote HTTP-HTTPS paragraph
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

fix: typos
  src/site/content/en/blog/referrer-best-practices/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/text-fragments/index.md
  src/site/content/en/blog/text-fragments/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/text-fragments/index.md
  src/site/content/en/blog/text-fragments/index.md
Owners: @GoogleChrome/web-dev-content

typo
  src/site/content/pl/pl.11tydata.js
Owners: @GoogleChrome/web-dev-eng

Fix copy button, hide ToC for now.
  src/lib/components/CopyCode/_styles.scss
  src/lib/components/CopyCode/index.js
  src/site/_includes/partials/post.njk
Owners: @GoogleChrome/web-dev-eng

Fix copy button, hide ToC for now. (#3798)
  src/lib/components/CopyCode/_styles.scss
  src/lib/components/CopyCode/index.js
  src/site/_includes/partials/post.njk
Owners: @GoogleChrome/web-dev-eng

Update Native File System article for stable release.
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/native-file-system/index.md
Owners: @GoogleChrome/web-dev-content
