Repository GoogleChrome/web.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content, @mgechev, @philipwalton, @petele, @housseindjirdeh

chore: refactor more
  src/lib/actions.js
  src/lib/components/EventMap/index.js
  src/site/_filters/md-block.js
  src/site/_filters/md.js
  src/site/_filters/paged-navigation.js
  src/site/_includes/components/AuthorsDate.js
  tsconfig.json
  types/_filters/paged-navigation.d.ts
Owners: @GoogleChrome/web-dev-eng

chore: fix more typing issues
  .eslintignore
  package-lock.json
  package.json
  src/@typedefs.js
  src/lib/analytics.js
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/EventMap/index.js
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresMeta/index.js
  src/lib/components/LighthouseScoresStats/index.js
  src/lib/components/ShareAction/index.js
  src/lib/components/SparklineChart/index.js
  src/lib/components/Subscribe/index.js
  src/lib/components/UrlChooser/index.js
  src/lib/fb.js
  src/lib/lighthouse-service.js
  src/lib/lighthouse/mapping.js
  src/lib/loader.js
  src/lib/utils/abort-controller-polyfill.js
  src/site/_collections/authors.js
  src/site/_collections/hooks/authors.js
  src/site/_collections/hooks/tags.js
  src/site/_collections/hooks/utils.js
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/components/EventTable.js
  tsconfig.json
  types/_collections/authors.d.ts
  types/_utils/add-pagination.d.ts
  types/utils/intl.d.ts
  types/utils/todo.d.ts
Owners: @GoogleChrome/web-dev-eng

chore: more types
  src/build/minify-js.js
  src/build/resource-path.js
  src/lib/actions.js
  src/lib/analytics.js
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/Search/index.js
  src/lib/components/Snackbar/index.js
  src/lib/components/Tabs/index.js
  src/lib/utils/debounce.js
  types/utils/window.d.ts
Owners: @GoogleChrome/web-dev-eng

test: add type linting and optional chaining
  package-lock.json
  package.json
  src/build/common.js
  tsconfig.json
Owners: @GoogleChrome/web-dev-eng

chore: more typing fixes
  src/lib/components/BaseElement/index.js
  src/lib/components/EventScheduleModal/index.js
  src/lib/components/EventTime/index.js
  src/lib/components/Header/index.js
  src/lib/components/LighthouseGauge/index.js
  src/lib/components/LighthouseScoresAudits/index.js
  src/lib/components/LighthouseScoresStats/index.js
  src/lib/components/ResponseMultipleChoice/index.js
  src/lib/components/SideNav/index.js
  src/lib/components/SparklineChart/index.js
  src/lib/utils/firebase-loader.js
  src/lib/utils/generate-salt.js
  types/utils/event.d.ts
Owners: @GoogleChrome/web-dev-eng

refactor(authorsData): rename property `description` to `descriptions`
  src/site/_collections/authors.js
  src/site/_data/authorsData.json
  src/site/content/en/handbook/author-profile/index.md
  types/_collections/authors.d.ts
  types/_data/authorsData.d.ts
Owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content

chore: remove babel
  package.json
  src/build/common.js
Owners: @GoogleChrome/web-dev-eng

chore: add typescript definition files
  tsconfig.json
  types/_collections/authors.d.ts
  types/_collections/tags.d.ts
  types/_data/authorsData.d.ts
  types/_data/tagsData.d.ts
  types/todo.d.ts
Owners: @GoogleChrome/web-dev-eng

chore: fix more types
  src/lib/analytics.js
  src/lib/app.js
  src/lib/components/Assessment/index.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/LighthouseScoresStats/index.js
  src/lib/components/Newsletter/index.js
  src/lib/components/Search/index.js
  src/site/_includes/components/Glitch.js
  types/_includes/components/Glitch.d.ts
  types/utils/element.d.ts
Owners: @GoogleChrome/web-dev-eng

chore: more typing
  src/lib/components/ProfileSwitcher/index.js
Owners: @GoogleChrome/web-dev-eng

chore: add some typings
  package-lock.json
  package.json
  src/site/_collections/authors.js
  src/site/_collections/tags.js
  src/site/_filters/md-block.js
  src/site/_filters/md.js
  src/site/_filters/paged-navigation.js
  src/site/_filters/pretty-date.js
  src/site/_includes/components/AuthorCard.js
  src/site/_includes/components/AuthorsDate.js
  src/site/_includes/components/BaseCard.js
  src/site/_includes/components/DetailsSummary.js
  src/site/_includes/components/EventTable.js
  src/site/_includes/components/PathCard.js
  src/site/_includes/components/PostCard.js
  src/site/_transforms/responsive-images/index.js
  src/site/_transforms/service-worker-partials/index.js
  src/site/_utils/get-srcset-range.js
Owners: @GoogleChrome/web-dev-eng

chore: refactor
  src/lib/components/BaseElement/index.js
  src/lib/components/BaseResponseElement/index.js
  src/lib/components/SparklineChart/index.js
  src/lib/components/Subscribe/index.js
  src/lib/components/UrlChooser/index.js
  src/lib/lighthouse-service.js
  src/lib/lighthouse/mapping.js
  src/site/_filters/md-block.js
  src/site/_filters/md.js
  src/site/_includes/components/AuthorsDate.js
  types/_data/authorsData.d.ts
  types/_data/tagsData.d.ts
  types/utils/intl.d.ts
  types/utils/npm-dependencies.d.ts
  types/utils/todo.d.ts
  types/utils/window.d.ts
Owners: @GoogleChrome/web-dev-eng

chore: remove optional chaining
  package-lock.json
  package.json
  src/lib/components/Subscribe/index.js
  src/lib/components/UrlChooser/index.js
Owners: @GoogleChrome/web-dev-eng

OT ended, so key isn't needed
  src/site/_includes/layout.njk
Owners: @GoogleChrome/web-dev-eng

Make 1.0 into 1.1.
  src/site/content/en/blog/introducing-model-viewer/annotation.png
  src/site/content/en/blog/introducing-model-viewer/helmet.png
  src/site/content/en/blog/introducing-model-viewer/hero.jpg
  src/site/content/en/blog/introducing-model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

Switch to normalizeUrl
  src/lib/content-indexing.js
Owners: @GoogleChrome/web-dev-eng

Go over one last time.
  src/site/content/en/blog/model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

fix SW registration code to allow Netlify staging
  src/lib/app.js
Owners: @GoogleChrome/web-dev-eng

move to top-level
  .gitignore
  src/site/_data/.gitignore
Owners: @GoogleChrome/web-dev-eng

Fix shadowed SW variable names.
  src/lib/sw.js
Owners: @GoogleChrome/web-dev-eng

fix SW registration code to allow Netlify staging (#3760)
  src/lib/app.js
Owners: @GoogleChrome/web-dev-eng

Update Notification Triggers status
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/notification-triggers/index.md
Owners: @GoogleChrome/web-dev-content

Add Idle Detection to the Fugu list
  src/site/content/en/blog/fugu-status/index.md
Owners: @GoogleChrome/web-dev-content

Fix shadowed SW variable names. (#3761)
  src/lib/sw.js
Owners: @GoogleChrome/web-dev-eng

Triggering rebuild
  src/lib/app.js
Owners: @GoogleChrome/web-dev-eng

trick eleventy into watching generated files (#3749)
  .eleventy.js
  .eleventyignore
  .gitignore
  src/styles/.gitignore
Owners: @GoogleChrome/web-dev-eng

fix launchurl in dev
  src/lib/content-indexing.js
  src/lib/utils/router.js
Owners: @GoogleChrome/web-dev-eng

use single ID
  src/lib/content-indexing.js
Owners: @GoogleChrome/web-dev-eng

fix URLs to always be relative
  src/lib/content-indexing.js
Owners: @GoogleChrome/web-dev-eng

remove log
  src/lib/content-indexing.js
Owners: @GoogleChrome/web-dev-eng

a bunch of misc tsc fixes
  src/build/minify-js.js
  src/build/virtual-json.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/bootstrap.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseElement/index.js
  src/lib/components/Tabs/index.js
  src/lib/urls.js
  src/lib/utils/generate-salt.js
  src/lib/utils/router.js
  src/lib/utils/time-offset.js
  src/lib/utils/underscore-import-polyfill.js
  src/lib/utils/web-share.js
  types/utils/global.d.ts
  types/utils/navigator.d.ts
  types/utils/npm-dependencies.d.ts
Owners: @GoogleChrome/web-dev-eng

Use the Content Indexing API (#2798)
  src/lib/app.js
  src/lib/content-indexing.js
  src/lib/utils/router.js
  src/site/_includes/layout.njk
  src/site/_transforms/service-worker-partials/index.js
  test/integration/partials-test.js
  test/unit/src/site/_transforms/service-worker-partials/index.js
Owners: @GoogleChrome/web-dev-eng

fix measuring what we delete
  tools/cleanup-versions/index.js
Owners: @GoogleChrome/web-dev-eng

Move recentBlogPosts logic to a common dir
  src/site/_collections/hooks/recent-blog-posts.js
  test/unit/src/site/_collections/hooks/index.js
  test/unit/src/site/_collections/hooks/recent-blog-posts.js
  test/unit/src/site/_collections/index.js
Owners: @GoogleChrome/web-dev-eng

lint
  src/site/content/en/index.11tydata.js
  test/unit/src/site/_collections/hooks/recent-blog-posts.js
Owners: @GoogleChrome/web-dev-eng

Tweak video rendering.
  src/site/content/en/blog/introducing-model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

revert title
  src/site/content/en/blog/web-animations/index.md
Owners: @GoogleChrome/web-dev-content

Apply suggestions from code review
  src/site/content/en/blog/web-animations/index.md
Owners: @GoogleChrome/web-dev-content

update Mozilla implementation link
  src/site/content/en/blog/web-animations/index.md
Owners: @GoogleChrome/web-dev-content

grammer updates from suggestions
  src/site/content/en/blog/web-animations/index.md
Owners: @GoogleChrome/web-dev-content

.github/CODEOWNERS:

# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @GoogleChrome/web-dev-eng

# Docs
src/site/content/ @GoogleChrome/web-dev-content
src/images/authors/ @GoogleChrome/web-dev-content
src/site/content/en/angular/ @mgechev @GoogleChrome/web-dev-content
src/site/content/en/authors/ @GoogleChrome/web-dev-eng
src/site/content/en/metrics/ @philipwalton @GoogleChrome/web-dev-content
src/site/content/en/newsletter/ @GoogleChrome/web-dev-eng
src/site/content/en/progressive-web-apps/ @petele @GoogleChrome/web-dev-content
src/site/content/en/react/ @housseindjirdeh @GoogleChrome/web-dev-content
src/site/content/en/tags/ @GoogleChrome/web-dev-eng
src/site/content/en/vitals/ @philipwalton @GoogleChrome/web-dev-content

# File types
# These should override docs directory owners.
*.js @GoogleChrome/web-dev-eng
*.json @GoogleChrome/web-dev-eng
*.css @GoogleChrome/web-dev-eng
*.scss @GoogleChrome/web-dev-eng
*.html @GoogleChrome/web-dev-eng
*.htm @GoogleChrome/web-dev-eng
*.njk @GoogleChrome/web-dev-eng
*.yml @GoogleChrome/web-dev-eng
*.yaml @GoogleChrome/web-dev-eng
*.toml @GoogleChrome/web-dev-eng
*.sh @GoogleChrome/web-dev-eng

# Exceptions
src/site/_data/authorsData.json @GoogleChrome/web-dev-content
src/site/_data/tagsData.json @GoogleChrome/web-dev-content
src/site/_data/paths/*.json @GoogleChrome/web-dev-content
src/site/_data/paths/progressive-web-apps.json @petele @GoogleChrome/web-dev-content
