Repository GoogleChrome/web.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content, @mgechev, @philipwalton, @petele, @housseindjirdeh

.github/CODEOWNERS:

# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @GoogleChrome/web-dev-eng

# Docs
src/site/content/ @GoogleChrome/web-dev-content
src/images/authors/ @GoogleChrome/web-dev-content
src/site/content/en/angular/ @mgechev @GoogleChrome/web-dev-content
src/site/content/en/authors/ @GoogleChrome/web-dev-eng
src/site/content/en/metrics/ @philipwalton @GoogleChrome/web-dev-content
src/site/content/en/newsletter/ @GoogleChrome/web-dev-eng
src/site/content/en/progressive-web-apps/ @petele @GoogleChrome/web-dev-content
src/site/content/en/react/ @housseindjirdeh @GoogleChrome/web-dev-content
src/site/content/en/tags/ @GoogleChrome/web-dev-eng
src/site/content/en/vitals/ @philipwalton @GoogleChrome/web-dev-content

# File types
# These should override docs directory owners.
*.js @GoogleChrome/web-dev-eng
*.json @GoogleChrome/web-dev-eng
*.css @GoogleChrome/web-dev-eng
*.scss @GoogleChrome/web-dev-eng
*.html @GoogleChrome/web-dev-eng
*.htm @GoogleChrome/web-dev-eng
*.njk @GoogleChrome/web-dev-eng
*.yml @GoogleChrome/web-dev-eng
*.yaml @GoogleChrome/web-dev-eng
*.toml @GoogleChrome/web-dev-eng
*.sh @GoogleChrome/web-dev-eng

# Exceptions
src/site/_data/authorsData.json @GoogleChrome/web-dev-content
src/site/_data/tagsData.json @GoogleChrome/web-dev-content
src/site/_data/paths/*.json @GoogleChrome/web-dev-content
src/site/_data/paths/progressive-web-apps.json @petele @GoogleChrome/web-dev-content

Feedback from Rob.
  src/site/content/en/blog/introducing-model-viewer/index.md
Owners: @GoogleChrome/web-dev-content

[Update] WAAPI Post (#3747)
  src/site/content/en/blog/web-animations/index.md
Owners: @GoogleChrome/web-dev-content

Update /pl/
  src/site/content/pl/index.njk
Owners: @GoogleChrome/web-dev-eng

Update index.md
  src/site/content/en/blog/aria-poison-or-antidote/index.md
Owners: @GoogleChrome/web-dev-content

add 11tydata to /pl/
  src/site/content/pl/index.11tydata.js
Owners: @GoogleChrome/web-dev-eng

Remove recent posts collection (#3752)
  .eleventy.js
  src/site/_collections/hooks/recent-blog-posts.js
  src/site/content/en/index.11tydata.js
  src/site/content/en/index.njk
  src/site/content/pl/index.11tydata.js
  src/site/content/pl/index.njk
  test/integration/src/site/_collections/eleventy.js
  test/integration/src/site/_collections/fixtures/test-2.md
  test/integration/src/site/_collections/fixtures/test-3.md
  test/integration/src/site/_collections/fixtures/test-4.md
  test/integration/src/site/_collections/fixtures/test-5.md
  test/integration/src/site/_collections/index.js
  test/integration/src/site/_collections/recent-blog-posts/collection.md
  test/integration/src/site/_collections/recent-blog-posts/dev.js
  test/integration/src/site/_collections/recent-blog-posts/prod.js
  test/unit/src/site/_collections/hooks/index.js
  test/unit/src/site/_collections/hooks/recent-blog-posts.js
  test/unit/src/site/_collections/index.js
Owners: @GoogleChrome/web-dev-eng

add i18n messaged to index.njk
  src/site/_includes/homepage.njk
  src/site/content/en/index.njk
  src/site/content/pl/index.njk
Owners: @GoogleChrome/web-dev-eng

rename .njk to .md
  src/site/content/en/index.md
  src/site/content/pl/index.md
Owners: @GoogleChrome/web-dev-content

typo
  src/site/_includes/homepage.njk
Owners: @GoogleChrome/web-dev-eng

Super minor character case issues
  src/site/content/en/blog/local-fonts/index.md
Owners: @GoogleChrome/web-dev-content

a bunch of misc tsc fixes (#3766)
  src/build/minify-js.js
  src/build/virtual-json.js
  src/lib/actions.js
  src/lib/app.js
  src/lib/bootstrap.js
  src/lib/components/AssessmentQuestion/index.js
  src/lib/components/BaseElement/index.js
  src/lib/components/Tabs/index.js
  src/lib/urls.js
  src/lib/utils/generate-salt.js
  src/lib/utils/router.js
  src/lib/utils/time-offset.js
  src/lib/utils/underscore-import-polyfill.js
  src/lib/utils/web-share.js
  types/utils/global.d.ts
  types/utils/navigator.d.ts
  types/utils/npm-dependencies.d.ts
Owners: @GoogleChrome/web-dev-eng

fix measuring what we delete (#3767)
  tools/cleanup-versions/index.js
Owners: @GoogleChrome/web-dev-eng

remove some logging
  src/lib/app.js
  src/lib/loader.js
  src/lib/sw.js
Owners: @GoogleChrome/web-dev-eng

generate sw-manifest in prod, set resource version for replacement
  build-sw.js
  build.js
  package.json
  src/lib/app.js
  src/lib/loader.js
  src/lib/sw.js
  src/site/_data/.gitignore
  src/site/_data/resource.js
  src/site/_includes/layout.njk
  sw-manifest.js
Owners: @GoogleChrome/web-dev-eng

remove partials, use SW only
  .eleventy.js
  build-sw.js
  src/lib/app.js
  src/lib/loader.js
  src/lib/sw.js
  src/site/_includes/layout.njk
  src/site/_transforms/service-worker-partials/index.js
  src/site/content/sw-partial-layout.njk
  test/unit/src/site/_transforms/index.js
  test/unit/src/site/_transforms/service-worker-partials/index.js
Owners: @GoogleChrome/web-dev-eng

merge with content-indexing, pr feedback
  src/lib/app.js
  src/lib/content-indexing.js
  src/lib/loader.js
  src/lib/sw.js
  src/site/_data/.gitignore
  sw-manifest.js
Owners: @GoogleChrome/web-dev-eng

update comment and hash coce
  src/build/hash.js
  src/lib/sw.js
  src/site/_data/resource.js
Owners: @GoogleChrome/web-dev-eng

remove ESM
  src/build/hash.js
Owners: @GoogleChrome/web-dev-eng

Add Idle Detection to the Fugu list (#3764)
  src/site/content/en/blog/fugu-status/index.md
Owners: @GoogleChrome/web-dev-content

Add html suffix
  src/site/_includes/homepage.njk
  src/site/content/en/index.md
  src/site/content/pl/index.md
Owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content

fixes
  src/lib/app.js
  src/lib/content-indexing.js
  src/lib/sw.js
Owners: @GoogleChrome/web-dev-eng

Update Notification Triggers status (#3763)
  src/site/content/en/blog/fugu-status/index.md
  src/site/content/en/blog/notification-triggers/index.md
Owners: @GoogleChrome/web-dev-content

remove partials from SW (#3748)
  .eleventy.js
  build-sw.js
  build.js
  package.json
  src/build/hash.js
  src/lib/app.js
  src/lib/content-indexing.js
  src/lib/loader.js
  src/lib/sw.js
  src/site/_data/resource.js
  src/site/_includes/layout.njk
  src/site/_transforms/service-worker-partials/index.js
  src/site/content/sw-partial-layout.njk
  sw-manifest.js
  test/unit/src/site/_transforms/index.js
  test/unit/src/site/_transforms/service-worker-partials/index.js
Owners: @GoogleChrome/web-dev-eng

Super minor character case issues (#3772)
  src/site/content/en/blog/local-fonts/index.md
Owners: @GoogleChrome/web-dev-content

Update authorsData.json
  src/site/_data/authorsData.json
Owners: @GoogleChrome/web-dev-content

Update ARIA blog post (#3770)
  src/site/_data/authorsData.json
  src/site/content/en/blog/aria-poison-or-antidote/index.md
Owners: @GoogleChrome/web-dev-content

Wrap lines at 100 characters
  src/site/content/en/blog/centering-in-css/index.md
  src/site/content/en/blog/codelab-centering-in-css/index.md
Owners: @GoogleChrome/web-dev-content

A proposal how to handle i18n messages (#3771)
  src/site/_includes/homepage.njk
  src/site/content/en/index.md
  src/site/content/en/index.njk
  src/site/content/pl/index.md
Owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content

Feedback from Kayce.
  src/site/_data/paths/accessible.json
  src/site/_data/paths/media.json
  src/site/content/en/media/add-media/index.md
  src/site/content/en/media/bitrate/index.md
  src/site/content/en/media/containers-and-codecs/index.md
  src/site/content/en/media/media-accessibility/chrome-android-track-landscape-5x3.jpg
  src/site/content/en/media/media-accessibility/index.md
  src/site/content/en/media/media-application-basics/index.md
  src/site/content/en/media/media-cheat-sheet/index.md
  src/site/content/en/media/media-experience/index.md
  src/site/content/en/media/media-file-basics/index.md
  src/site/content/en/media/media-file-basics/media-container-onion.png
  src/site/content/en/media/prepare-media/index.md
  src/site/content/en/media/resolution/index.md
  src/site/content/en/media/video-and-source-tags/index.md
Owners: @GoogleChrome/web-dev-content

feat(post): add table of contents to posts, fixes #1931 (#3753)
  .eleventy.js
  package-lock.json
  package.json
  src/lib/actions.js
  src/lib/components/TableOfContents/index.js
  src/lib/components/TableOfContentsButton/index.js
  src/lib/pages/default.js
  src/site/_filters/slugify.js
  src/site/_includes/partials/post.njk
  src/site/_transforms/responsive-images/index.js
  src/styles/components/_all.scss
  src/styles/components/_toc.scss
  src/styles/settings/_dimensions.scss
Owners: @GoogleChrome/web-dev-eng

Fix broken integration tests.
  test/integration/build-test.js
  test/integration/index.js
  test/integration/partials-test.js
Owners: @GoogleChrome/web-dev-eng

Fix broken integration tests. (#3776)
  test/integration/build-test.js
  test/integration/index.js
  test/integration/partials-test.js
Owners: @GoogleChrome/web-dev-eng

Move alex to a dedicated workflow.
  .github/workflows/alex-workflow.yml
  .github/workflows/lint-and-test-workflow.yml
Owners: @GoogleChrome/web-dev-eng

Move alex to a dedicated workflow. (#3777)
  .github/workflows/alex-workflow.yml
  .github/workflows/lint-and-test-workflow.yml
Owners: @GoogleChrome/web-dev-eng

Add missing alex steps.
  .github/workflows/alex-workflow.yml
Owners: @GoogleChrome/web-dev-eng

Add missing alex steps. (#3779)
  .github/workflows/alex-workflow.yml
Owners: @GoogleChrome/web-dev-eng

Add a word to make alex fail.
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
Owners: @GoogleChrome/web-dev-content

more tests.
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
Owners: @GoogleChrome/web-dev-content

Fix Aaron's author images
  src/images/authors/aaronleventhal.jpg
  src/images/authors/aaronleventhal@2x.jpg
Owners: @GoogleChrome/web-dev-content

Fix Aaron's author images (#3781)
  src/images/authors/aaronleventhal.jpg
  src/images/authors/aaronleventhal@2x.jpg
Owners: @GoogleChrome/web-dev-content
