Repository GoogleChrome/web.dev, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GoogleChrome/web-dev-eng, @GoogleChrome/web-dev-content, @una, @argyleink

.github/CODEOWNERS:

# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @GoogleChrome/web-dev-eng

# Content
src/site/content/ @GoogleChrome/web-dev-content
src/site/content/en/learn/css/ @una @argyleink @GoogleChrome/web-dev-content

# Newsletter
src/site/content/en/newsletter/ @GoogleChrome/web-dev-eng

# File types
# These should override docs directory owners.
*.js @GoogleChrome/web-dev-eng
*.json @GoogleChrome/web-dev-eng
*.css @GoogleChrome/web-dev-eng
*.scss @GoogleChrome/web-dev-eng
*.html @GoogleChrome/web-dev-eng
*.htm @GoogleChrome/web-dev-eng
*.njk @GoogleChrome/web-dev-eng
*.yml @GoogleChrome/web-dev-eng
*.yaml @GoogleChrome/web-dev-eng
*.toml @GoogleChrome/web-dev-eng
*.sh @GoogleChrome/web-dev-eng

# Data files
src/site/_data/authorsData.json @GoogleChrome/web-dev-content @GoogleChrome/web-dev-eng
src/site/_data/courses @GoogleChrome/web-dev-content @GoogleChrome/web-dev-eng
src/site/_data/paths @GoogleChrome/web-dev-content @GoogleChrome/web-dev-eng
src/site/_data/i18n @GoogleChrome/web-dev-content @GoogleChrome/web-dev-eng

# Redirects
redirects.yaml @GoogleChrome/web-dev-content @GoogleChrome/web-dev-eng

Update link with changing compositor-only properties
  src/site/content/en/blog/rendering-performance/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/aem-with-workbox/index.md
  src/site/content/en/blog/aem-with-workbox/index.md
Owners: @GoogleChrome/web-dev-content

Add "Debug media playback errors on the web" section
  src/site/_data/paths/media.json
  src/site/content/en/media/debug-playback-errors/index.md
Owners: @GoogleChrome/web-dev-content, @GoogleChrome/web-dev-eng

feat: add jhey to authors list
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Owners: @GoogleChrome/web-dev-content, @GoogleChrome/web-dev-eng

feat: add jhey to authors list (#7686)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Owners: @GoogleChrome/web-dev-content, @GoogleChrome/web-dev-eng

Add "Debug media playback errors on the web" section (#7685)
  src/site/_data/paths/media.json
  src/site/content/en/media/debug-playback-errors/index.md
Owners: @GoogleChrome/web-dev-content, @GoogleChrome/web-dev-eng

Update src/site/content/en/blog/rendering-performance/index.md
  src/site/content/en/blog/rendering-performance/index.md
Owners: @GoogleChrome/web-dev-content

Fix link with changing compositor-only properties (#7674)
  src/site/content/en/blog/rendering-performance/index.md
Owners: @GoogleChrome/web-dev-content

Add draft of AEM+Workbox article. (#7405)
  src/site/content/en/blog/aem-with-workbox/index.md
Owners: @GoogleChrome/web-dev-content

Fix article date.
  src/site/content/en/blog/aem-with-workbox/index.md
Owners: @GoogleChrome/web-dev-content

Add missing author image for AEM article.
  src/site/_data/authorsData.json
Owners: @GoogleChrome/web-dev-content, @GoogleChrome/web-dev-eng

Correct path to image.
  src/site/_data/authorsData.json
Owners: @GoogleChrome/web-dev-content, @GoogleChrome/web-dev-eng

Add missing image for AEM article. (#7688)
  src/site/_data/authorsData.json
Owners: @GoogleChrome/web-dev-content, @GoogleChrome/web-dev-eng

Updates to clipboard article.
  src/site/content/en/blog/async-clipboard/index.md
Owners: @GoogleChrome/web-dev-content

Update src/site/content/en/blog/building-a-dialog-component/index.md
  src/site/content/en/blog/building-a-dialog-component/index.md
Owners: @GoogleChrome/web-dev-content

Fix typo
  src/site/content/en/media/debug-playback-errors/index.md
Owners: @GoogleChrome/web-dev-content

Fix typo (#7709)
  src/site/content/en/media/debug-playback-errors/index.md
Owners: @GoogleChrome/web-dev-content

Fix broken links
  src/site/content/en/learn/design/index.md
Owners: @GoogleChrome/web-dev-content

Allow unesceped HTML in Aside
  src/site/_includes/components/Aside.js
Owners: @GoogleChrome/web-dev-eng

New Post - GUI Challenges - Building a dialog component (#7659)
  src/site/content/en/blog/building-a-dialog-component/index.md
Owners: @GoogleChrome/web-dev-content

Fix typo in Building a dialog component post
  src/site/content/en/blog/building-a-dialog-component/index.md
Owners: @GoogleChrome/web-dev-content

Fix typo in Building a dialog component post (#7713)
  src/site/content/en/blog/building-a-dialog-component/index.md
Owners: @GoogleChrome/web-dev-content

fix broken markup on AVIF article
  src/site/content/en/blog/compress-images-avif/index.md
Owners: @GoogleChrome/web-dev-content

fix broken markup on AVIF article (#7715)
  src/site/content/en/blog/compress-images-avif/index.md
Owners: @GoogleChrome/web-dev-content

Adding the ETT scope article
  src/site/content/en/web-dev-basics-one/global-and-local-scope/index.md
Owners: @GoogleChrome/web-dev-content
