Repository GoogleChrome/web.dev, pull requests merged in 2022-07, with the labels that each got.

#7751 Building a dialog component: Swap out overflow-y: scroll with auto
  src/site/content/en/blog/building-a-dialog-component/index.md
Labels: $-presubmit

#7660 Remove distinction between relative/absolute sizing
  src/site/content/en/fast/serve-images-with-correct-dimensions/index.md
Labels: content update

#8287 Adds a terminology section to the word list section of the handbook.
  src/site/content/en/handbook/word-list/index.md
Labels: P2, content update, $-presubmit

#8285 Migrates navigation preload post from d.c.c.
  src/site/content/en/blog/navigation-preload/index.md
Labels: P2, pwa, content, $-presubmit

#8289 Add author profile for bramus
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
Labels: $-presubmit

#8301 Revamps the INP metric guide
  src/site/content/en/metrics/inp/index.md
Labels: P1, content update, vitals, $-presubmit

#8245 Adds Farfetch Core Web Vitals case study
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/farfetch/index.md
Labels: P1, content, vitals, $-presubmit

#8332 Fix the end tag of the code block
  src/site/content/en/blog/use-long-term-caching/index.md
Labels: $-presubmit

#8299 Update old FLoC blog post
  src/site/content/en/blog/floc/index.md
Labels: blog, content update

#8272 Solved by putting the problem part into English.
  src/site/content/ja/vitals/index.md
Labels: $-presubmit

#8303 Update index.md
  src/site/content/es/lighthouse-seo/meta-description/index.md
Labels: $-presubmit

#8344 Updated syntax of html
  src/site/content/en/accessible/control-focus-with-tabindex/index.md
Labels: $-presubmit

#8347 Adds guidance on serving WebP images using the HTTP `Accept` header
  src/site/content/en/fast/serve-images-webp/index.md
Labels: P2, content update, $-presubmit

#8348 Addresses LCP concerns for autoplaying video as animated GIF replacement.
  src/site/content/en/fast/replace-gifs-with-videos/index.md
Labels: P2, content update, vitals, $-presubmit

#8354 Adds aside to Better Responsiveness metric doc clarifying what events qualify for INP.
  src/site/content/en/blog/better-responsiveness-metric/index.md
Labels: P1, content update, vitals, $-presubmit

#8286 Adds the GoDaddy case study to the web.dev blog.
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/godaddy/index.md
Labels: P1, content, vitals, $-presubmit

#8388 Fixes Farfetch case study's title case.
  src/site/content/en/blog/farfetch/index.md
Labels: P1, content update, vitals

#8392 Clarifies scrolling language per @mmocny.
  src/site/content/en/metrics/inp/index.md
Labels: P2, content update, vitals

#8389 Update @mdn/browser-compat-data
  package-lock.json
  package.json
Labels: dependencies

#8396 Updates INP doc to link to TBT correlation study.
  src/site/content/en/metrics/inp/index.md
Labels: P1, content update, vitals

#8394 Adds BBC HSTS short post
  src/site/content/en/blog/bbc-hsts/index.md
Labels: P2, content

#8360 Fixes markdown formatting issue on /webaudio-intro
  src/site/content/en/blog/webaudio-intro/index.md
Labels: $-presubmit

#8409 Redirects Extending Workbox to its d.c.c. equivalent
  redirects.yaml
  src/site/content/en/blog/extending-workbox/index.md
Labels: P2, content update

#8413 Fix markdown block for php
  src/site/content/en/blog/eventsource-basics/index.md
Labels: content update

#8414 Add TTFB guideline thresholds
  src/site/content/en/metrics/ttfb/index.md
Labels: P2, content update, vitals

#8398 Fix date of post "Rendering on the Web"
  src/site/content/en/blog/rendering-on-the-web/index.md
Labels: content update, $-presubmit

#8358 Fix link to obsolete document
  src/site/content/en/accessible/color-and-contrast-accessibility/index.md
Labels: content update, $-presubmit

#8427 Adds LCP guidance to the image compression guidance.
  src/site/content/en/fast/compress-images/index.md
Labels: P2, content update, vitals

#8003 `New Post` - New patterns for July 2022
  src/site/content/en/blog/new-patterns-july-2022/index.md
  src/site/content/en/patterns/animation/animated-letters/demo.njk
  src/site/content/en/patterns/animation/animated-words/demo.njk
  src/site/content/en/patterns/animation/interactive-letters/demo.njk
  src/site/content/en/patterns/animation/interactive-words/demo.njk
  src/site/content/en/patterns/components/breadcrumbs/demo.njk
  src/site/content/en/patterns/components/buttons/demo.njk
  src/site/content/en/patterns/components/carousel/demo.njk
  src/site/content/en/patterns/components/dialog/demo.njk
  src/site/content/en/patterns/components/game-menu/demo.njk
  src/site/content/en/patterns/components/loading-bar/demo.njk
  src/site/content/en/patterns/components/media-scroller/demo.njk
  src/site/content/en/patterns/components/multi-select/demo.njk
  src/site/content/en/patterns/components/settings/demo.njk
  src/site/content/en/patterns/components/sidenav/demo.njk
  src/site/content/en/patterns/components/split-buttons/demo.njk
  src/site/content/en/patterns/components/stories/demo.njk
  src/site/content/en/patterns/components/svg-favicon/demo.njk
  src/site/content/en/patterns/components/switch/demo.njk
  src/site/content/en/patterns/components/tabs/demo.njk
  src/site/content/en/patterns/components/toast/demo.njk
  src/site/content/en/patterns/layout/autobot/demo.njk
  src/site/content/en/patterns/layout/content-center/demo.njk
  src/site/content/en/patterns/layout/fluffy-center/demo.njk
  src/site/content/en/patterns/layout/gentle-flex/demo.njk
  src/site/content/en/patterns/layout/pop-n-plop/demo.njk
  src/site/content/en/patterns/theming/color-schemes/demo.njk
  src/site/content/en/patterns/theming/hsl-starter-kit/demo.njk
  src/site/content/en/patterns/theming/theme-switch/demo.njk
Labels: new content

#8426 Adds advice per @tunetheweb from #8349.
  src/site/content/en/fast/choose-the-right-image-format/index.md
Labels: P2, content update, vitals
