Repository GoogleChrome/web.dev, pull requests merged in 2022-08, with the labels that each got.

#8428 Add css-border-animations blogpost
  src/site/content/en/blog/css-border-animations/index.md
Labels: new content

#8421 docs(content): remove html tag in code examples
  src/site/content/en/blog/media-recording-audio/index.md
Labels: content update, $-presubmit

#8343 Fix typo in Optimize CLS in Korean
  src/site/content/ko/blog/optimize-cls/index.md
Labels: content update, $-presubmit, i18n

#8375 Add css-individual-transform-properties blogpost (Fix #8244)
  src/site/content/en/blog/css-individual-transform-properties/index.md
Labels: new content

#8447 Updates preload guidance with information on Core Web Vitals.
  src/site/content/en/fast/preload-critical-assets/index.md
Labels: P2, content update, vitals

#8450 Removes and redirects lazysizes post to browser-level lazy loading post.
  redirects.yaml
  src/site/content/en/fast/serve-images-webp/index.md
  src/site/content/en/fast/use-lazysizes-to-lazyload-images/index.md
  src/site/content/es/fast/use-lazysizes-to-lazyload-images/index.md
  src/site/content/ko/fast/use-lazysizes-to-lazyload-images/index.md
  src/site/content/pt/fast/use-lazysizes-to-lazyload-images/index.md
  src/site/content/zh/fast/use-lazysizes-to-lazyload-images/index.md
Labels: P2, content update

#8380 Improve explanation of workgroups and fix/update shader code to lates…
  src/site/content/en/blog/gpu-compute/index.md
Labels: $-presubmit

#8454 Adds guidance around LCP for preconnects.
  src/site/content/en/blog/preconnect-and-dns-prefetch/index.md
Labels: P2, content update, vitals

#8472 Adds CLS and browser preload scanner guidance to the image dimensions guide.
  src/site/content/en/fast/serve-images-with-correct-dimensions/index.md
Labels: P2, content update, vitals

#8474 Removes old HTTP caching guide and redirects to a newer version.
  redirects.yaml
  src/site/content/en/blog/performance-get-started-httpcaching-6/index.md
Labels: P2, content update

#8489 Adds full viewport image guidance for LCP.
  src/site/content/en/metrics/lcp/index.md
Labels: P2, content update, vitals

#8469 Fixed links which were broken
  src/site/content/en/blog/new-patterns-july-2022/index.md
Labels: $-presubmit

#8490 Removes and redirects old performance guides from d.g.c. to newer guidance.
  redirects.yaml
  src/site/content/en/blog/performance-get-started-graphicalcontent-4/index.md
  src/site/content/en/blog/performance-get-started-httprequests-5/index.md
  src/site/content/en/blog/performance-get-started-textcontent-3/index.md
  src/site/content/en/blog/performance-get-started-wrapup-7/index.md
  src/site/content/en/blog/performance-get-started/index.md
Labels: P2, content update

#8495 Adds LCP guidance to the Image CDNs article.
  src/site/content/en/fast/image-cdns/index.md
Labels: P2, content update, vitals

#8521 Updates image lazy loading guidance, including for LCP.
  src/site/content/en/fast/lazy-loading-images/index.md
  src/site/content/es/fast/lazy-loading-images/index.md
  src/site/content/ko/fast/lazy-loading-images/index.md
  src/site/content/pt/fast/lazy-loading-images/index.md
  src/site/content/ru/fast/lazy-loading-images/index.md
  src/site/content/zh/fast/lazy-loading-images/index.md
Labels: P2, content update, vitals

#8515 CrUX and RUM differences article
  src/site/_data/paths/learn-web-vitals.json
  src/site/content/en/learn-web-vitals/crux-and-rum-differences/index.md
Labels: $-presubmit

#8510 There are two values for attribute “loading”, not three
  src/site/content/en/blog/iframe-lazy-loading/index.md
Labels: $-presubmit

#8529 Fix counts in iframes lazy loading article
  src/site/content/en/blog/iframe-lazy-loading/index.md
  src/site/content/es/blog/iframe-lazy-loading/index.md
  src/site/content/ja/blog/iframe-lazy-loading/index.md
  src/site/content/pt/blog/iframe-lazy-loading/index.md
  src/site/content/ru/blog/iframe-lazy-loading/index.md
Labels: $-presubmit

#8536 Consolidate duplicate capturing images article
  redirects.yaml
  src/site/content/en/blog/capturing-images/index.md
  src/site/content/en/blog/media-capturing-images/index.md
Labels: $-presubmit

#8531 Make web-copy-code position relative
  src/scss/web-components/_web-copy-code.scss
Labels: eng

#8546 Adds small note about Core Web Vitals.
  src/site/content/en/fast/lazy-loading/index.md
Labels: P2, content update, vitals

#8532 Update PSI CrUX article with latest changes to PSI
  src/site/content/en/fast/chrome-ux-report-pagespeed-insights/index.md
Labels: $-presubmit

#8545 Removes scrolling performance post and redirects to the intersection …
  redirects.yaml
  src/site/content/en/blog/speed-scrolling/index.md
Labels: P2, content update

#8533 Custom Properties and Web Components article
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/custom-properties-web-components/index.md
Labels: content

#8525 Adds LCP guidance for video poster images.
  src/site/content/en/fast/lazy-loading-video/index.md
Labels: P2, content update, vitals

#8553 Adds LCP guidance on CSS background images.
  src/site/content/en/fast/optimize-css-background-images-with-media-queries/index.md
Labels: P2, content update, vitals

#8551 Updates web font optimization guide with updated advice and Core Web Vitals guidance.
  src/site/content/en/fast/reduce-webfont-size/index.md
Labels: P2, content update, vitals

#7477 Sort language list to have Latin script languages appear first and alphabetically sorted, while maintaining relative ordering
  src/lib/utils/language.js
  src/site/_filters/urls.js
  src/site/_includes/components/LanguageList.js
Labels: eng, eng - i18n, $-presubmit

#8397 docs(style-focus): button focus macos firefox
  src/site/content/en/accessible/style-focus/index.md
Labels: content

#8467 Fix mistranslated strings in react.yml
  src/site/_data/i18n/paths/react.yml
Labels: Translation

#8568 Adds audio for Twitter Spaces
  src/site/content/en/spaces/2022-08-09-new-on-web/index.md
  src/site/content/en/spaces/2022-08-11-feature-fundamentals/index.md
  src/site/content/en/spaces/2022-08-16-devs-telling-us/index.md
  src/site/content/en/spaces/2022-08-18-web-perf-ama/index.md
Labels: content

#8254 Fix spanish translation typo
  src/site/content/es/metrics/lcp/index.md
Labels: i18n, Translation

#8538 Fixing glitch in a glitch
  src/site/content/en/learn/pwa/installation-prompt/index.md
Labels: content

#8501 Lists post
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/creative-list-styling/index.md
Labels: content

#8514 remove google+ from social media widget examples
  src/site/content/en/blog/csp/index.md
Labels: content

#7803 allow listitems to live in menu (fix #7802)
  src/site/content/en/lighthouse-accessibility/listitem/index.md
Labels: content

#8516 Adds Rakuten 24 Core Web Vitals case study
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/rakuten/index.md
Labels: P2, content, vitals

#8582 Tag manager web vital review
  src/site/content/en/blog/tag-best-practices/index.md
Labels: content

#8587 Fix fetchpriorty on some more hero images
  src/site/_includes/item-page.njk
  src/site/_includes/spaces.njk
Labels: eng - performance

#8570 New Post - `GUI Challenges` crooked grid illusion
  src/site/content/en/blog/building-a-crooked-grid-illusion/index.md
Labels: content, $-presubmit

#8590 Adds LCP guidance to imagemin guide.
  src/site/content/en/fast/use-imagemin-to-compress-images/index.md
Labels: P2, content update, vitals

#8593 Removes mention of the web-vitals next tag in the INP documentation.
  src/site/content/en/metrics/inp/index.md
Labels: P2, content update, vitals

#8604 [Window Controls Overlay article] Add `display-mode` media query
  src/site/content/en/blog/window-controls-overlay/index.md
Labels: $-presubmit

#8602 [URL protocol handler article] Add DevTools info
  src/site/content/en/blog/url-protocol-handler/index.md
Labels: $-presubmit

#8591 Adds Core Web Vitals guidance to the code splitting post.
  src/site/content/en/fast/reduce-javascript-payloads-with-code-splitting/index.md
Labels: P2, content update, vitals

#8608 Removes and redirects old appcache post to service worker lifecycle guide.
  redirects.yaml
  src/site/content/en/blog/workingoffthegrid/index.md
Labels: P2, content update

#8237 translate /metrics/ttfb to zh_CN
  src/site/content/zh/metrics/ttfb/index.md
Labels: content, l18n

#8430 docs: add webtransport.day
  src/site/content/zh/blog/webtransport/index.md
Labels: content update, $-presubmit, i18n

#8596 fix: fix typo what are pwas in japanese
  src/site/content/ja/progressive-web-apps/what-are-pwas/index.md
Labels: content update

#8512 Support BYOB reader for SerialPort's ReadableStreams
  src/site/content/en/blog/serial/index.md
Labels: content

#8610 Adds core web vitals guidance to the remove unused code guide.
  src/site/content/en/fast/remove-unused-code/index.md
Labels: P2, content update, vitals

#8613 [Window Controls Overaly article] Add CSS
  src/site/content/en/blog/window-controls-overlay/index.md
Labels: content

#8616 Updates cq syntax in articles
  src/site/content/en/blog/new-responsive/index.md
  src/site/content/ja/blog/new-responsive/index.md
  src/site/content/ru/blog/new-responsive/index.md
Labels: $-presubmit

#8600 Update manifest updating article now that start_url updates are supported
  src/site/content/en/progressive-web-apps/manifest-updates/index.md
Labels: content, content update

#8621 web platform august post
  package-lock.json
  package.json
  src/site/content/en/blog/web-platform-08-2022/index.md
Labels: content
