Repository GoogleChrome/web.dev, pull requests merged in 2022-10, with the labels that each got.

#8768 Tweaks language, fixes a figure in the optimize long tasks post.
  src/site/content/en/blog/optimize-long-tasks/index.md
Labels: P2, content update

#8766 Updates for "Why Accessibility" page
  src/site/content/en/learn/accessibility/why/index.md
Labels: content update, $-presubmit

#8765 Learn a11y: Fix typo in first paragraph
  src/site/content/en/learn/accessibility/index.md
Labels: content update

#8749 Add `Sec-CH-Prefers-Reduced-Motion` support
  src/site/content/en/blog/prefers-reduced-motion/index.md
  src/site/content/en/blog/user-preference-media-features-headers/index.md
Labels: content update, $-presubmit

#8781 Fix typo
  src/site/content/en/blog/optimizing-content-efficiency-optimize-encoding-and-transfer/index.md
Labels: content update, $-presubmit

#8727 Moved the bullet points to next line
  src/site/content/en/fast/rail/index.md
Labels: content update, $-presubmit

#8726 fix: typo
  src/site/content/en/blog/rendering-on-the-web/index.md
Labels: content update

#8772 change timeline to performance, fix image mismatch
  src/site/content/en/blog/critical-rendering-path-constructing-the-object-model/index.md
Labels: content update, $-presubmit

#8594 Fix typo in japanese article: Optimize WebFont loading and rendering
  src/site/content/ja/fast/optimize-webfont-loading/index.md
Labels: content update, i18n

#8783 Learn A11y Cleanup
  src/site/content/en/learn/accessibility/images/index.md
  src/site/content/en/learn/accessibility/motion/index.md
  src/site/content/en/learn/accessibility/motion/motion.assess.yml
  src/site/content/en/learn/accessibility/why/index.md
Labels: content update

#8785 Color contrast quiz
  src/site/content/en/learn/accessibility/color-contrast/color.assess.yml
Labels: content update, $-presubmit

#8728 Updated link in the warning section
  src/site/content/en/learn/pwa/web-app-manifest/index.md
Labels: content update, $-presubmit

#8786 Line breaks / space in reporting api blog post
  src/site/content/en/blog/reporting-api/index.md
Labels: content update

#8745 Partial bug fix for issue #8744
  src/site/content/en/blog/codelab-sign-in-form-best-practices/index.md
Labels: content update

#8792 Learn A11y fixes, ongoing
  src/site/content/en/learn/accessibility/measure/index.md
  src/site/content/en/learn/accessibility/motion/motion.assess.yml
Labels: content update

#8804 adding pwa livestream
  src/site/_data/site.js
Labels: $-presubmit

#8794 Community highlight: Melanie Sumner
  src/site/content/en/blog/community-highlight-melanie/index.md
Labels: new content, $-presubmit

#8720 Fix anchor
  src/site/content/en/blog/mobile-touch/index.md
Labels: content update

#8828 Adds twitter space for chrometober
  src/site/content/en/spaces/2022-10-13-chrometober/index.md
Labels: $-presubmit

#8718 Fix grammar typo in carousel best practices blog
  src/site/content/en/blog/carousel-best-practices/index.md
Labels: content update

#8822 Adds Chrometober card to homepage
  src/site/content/en/index.md
Labels: $-presubmit

#8846 Updates preload scanner guide
  src/site/content/en/blog/preload-scanner/index.md
Labels: P2, content update, vitals

#8606 Fix typo in Russian Optimize LPC article
  src/site/content/ru/blog/optimize-lcp/index.md
Labels: P2, content update, i18n

#8869 [How to? pattern articles] Add Picture-in-Picture video article
  redirects.yaml
  src/site/content/en/patterns/media/audio-effects/assets/body.html
  src/site/content/en/patterns/media/audio-effects/assets/script.js
  src/site/content/en/patterns/media/audio-effects/assets/style.css
  src/site/content/en/patterns/media/audio-effects/demo.njk
  src/site/content/en/patterns/media/audio-effects/index.md
  src/site/content/en/patterns/media/index.md
  src/site/content/en/patterns/media/picture-in-picture/assets/body.html
  src/site/content/en/patterns/media/picture-in-picture/assets/script.js
  src/site/content/en/patterns/media/picture-in-picture/assets/style.css
  src/site/content/en/patterns/media/picture-in-picture/demo.njk
  src/site/content/en/patterns/media/picture-in-picture/index.md
Labels: DO NOT MERGE

#8845 Read CSS only once in purge-css transform instead of for every page
  src/site/_transforms/purify-css.js
Labels: eng

#8550 Update and pin karma core and plugins
  package-lock.json
  package.json
Labels: dependencies, eng

#8853 [Learn A11y] Module 1 assessment updates
  src/site/content/en/learn/accessibility/why/why.assess.yml
Labels: content update

#8885 Add css-animated-grid-layouts blogpost (#8691)
  src/site/content/en/blog/css-animated-grid-layouts/index.md
Labels: scheduled

#8947 Adding missing images
  src/site/content/en/blog/media-capturing-images/index.md
Labels: P2, content, $-presubmit

#8927 Learn Accessibility: October modules
  src/site/_data/courses/accessibility/toc.yml
  src/site/content/en/learn/accessibility/complex-topics/index.md
  src/site/content/en/learn/accessibility/focus/focus.assess.yml
  src/site/content/en/learn/accessibility/focus/index.md
  src/site/content/en/learn/accessibility/more-html/document.assess.yml
  src/site/content/en/learn/accessibility/more-html/index.md
  src/site/content/en/learn/accessibility/structure/index.md
  src/site/content/en/learn/accessibility/video-audio/index.md
Labels: new content, $-presubmit

#8966 Added missing course link/intro to Critical Rendering Path page
  src/site/content/en/blog/critical-rendering-path/index.md
Labels: content update
