Repository GoogleChrome/web.dev, pull requests merged in 2022-11, with the labels that each got.

#8986 Learn Accessibility: add designed headings example
  src/site/content/en/learn/accessibility/structure/index.md
Labels: content update

#8981 learn/accessibility/typography Directly link Google Fonts
  src/site/content/en/learn/accessibility/typography/index.md
Labels: content update

#8821 Update broken link
  src/site/content/en/blog/security-credential-management/index.md
Labels: content update

#9024 [Learn A11y] Replace image for UI element
  src/site/content/en/learn/accessibility/video-audio/index.md
Labels: content update

#9006 GDE community highlight: Lars Knudsen
  src/site/content/en/blog/gde-focus-lars-knudsen/index.md
Labels: blog

#9032 Update MediaQueryList.addListener() code sample
  src/site/content/en/blog/prefers-color-scheme/index.md
Labels: cla: yes, content update

#9037 Add asides for Learn Accessibility courses
  src/site/content/en/blog/community-highlight-shuyi/index.md
Labels: content update

#9045 Added aside for API rename
  src/site/content/en/blog/trust-tokens/index.md
Labels: content update

#9067 removing chrometober badge
  src/site/_data/site.js
Labels: $-presubmit

#9036 A11y community highlight Albert Kim
  src/site/content/en/blog/community-highlight-albert-kim/index.md
  src/site/content/en/learn/accessibility/why/index.md
Labels: DO NOT MERGE, new content

#9087 A11y Week blog post
  src/site/content/en/blog/accessibility-week-2022/index.md
Labels: content

#9101 Internalization: 'Contribute' in footer
  src/site/_data/i18n/footer.yml
Labels: i18n, Translation

#8609 Fix part, which do not match the current spec
  src/site/content/en/blog/webtransport/index.md
Labels: content, content update

#8675 Clarify code for checking if the navigation menu is currently open
  src/site/content/en/blog/website-navigation/index.md
Labels: content

#9133 Adds aside on the importance of field data.
  src/site/content/en/fast/use-lighthouse-for-performance-budgets/index.md
Labels: P2, content update, vitals

#9132 Adds LCP guidance.
  src/site/content/en/fast/serve-responsive-images/index.md
Labels: P2, content update, vitals

#9134 Adds note about LCP.
  src/site/content/en/blog/iframe-lazy-loading/index.md
Labels: P2, content update, vitals

#9135 Adds CWV guidance around web workers.
  src/site/content/en/blog/off-main-thread/index.md
Labels: P2, content update, vitals

#9138 Amends the prefetching guide to include information about core web vi…
  src/site/content/en/blog/link-prefetch/index.md
Labels: P2, content update, vitals

#9141 Adds INP note, links to optimize long tasks guide.
  src/site/content/en/blog/long-tasks-devtools/index.md
Labels: P2, content update, vitals
