Repository GoogleChrome/web.dev, pull requests merged in 2022-12, with the labels that each got.

#9162 Adds guidance around content-visibility per INP.
  src/site/content/en/blog/content-visibility/index.md
Labels: P2, content update, vitals

#8265 Fix the entity symbols of code, which has been sanitized
  src/site/content/zh/blog/trusted-types/index.md
Labels: content

#9154 Learn Accessibility (Ch 04, 14, 15)
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/learn/accessibility/design-ux/index.md
  src/site/content/en/learn/accessibility/index.md
  src/site/content/en/learn/accessibility/javascript/index.md
  src/site/content/en/learn/accessibility/javascript/javascript.assess.yml
  src/site/content/en/learn/accessibility/more-html/document.assess.yml
  src/site/content/en/learn/accessibility/patterns/index.md
  src/site/content/en/learn/accessibility/patterns/patterns.assess.yml
Labels: content

#8677 Add form_factor manifest property
  src/site/content/en/progressive-web-apps/add-manifest/index.md
Labels: content

#9185 Remove csstriggers.com links
  src/site/content/en/animations/animations-guide/index.md
  src/site/content/en/blog/animations-and-performance/index.md
  src/site/content/en/blog/optimize-cls/index.md
  src/site/content/en/blog/rendering-performance/index.md
  src/site/content/es/blog/optimize-cls/index.md
  src/site/content/pt/blog/optimize-cls/index.md
Labels: content update

#8667 Fix install command for squoosh in announcement blog article
  src/site/content/en/blog/squoosh-v2/index.md
Labels: blocked

#8342 Swap ss of DOM and CSSOM construction times
  src/site/content/en/blog/critical-rendering-path-constructing-the-object-model/index.md
Labels: content, $-presubmit

#9190 Community typo fixes
  src/site/content/en/blog/components-howto-checkbox/index.md
  src/site/content/en/blog/service-workers-registration/index.md
Labels: content update

#9143 Learn HTML (chapter 6-11)
  src/site/content/en/learn/html/attributes/attributes.assess.yml
  src/site/content/en/learn/html/attributes/index.md
  src/site/content/en/learn/html/headings-and-sections/index.md
  src/site/content/en/learn/html/links/index.md
  src/site/content/en/learn/html/links/links.assess.yml
  src/site/content/en/learn/html/lists/index.md
  src/site/content/en/learn/html/lists/lists.assess.yml
  src/site/content/en/learn/html/navigation/index.md
  src/site/content/en/learn/html/navigation/navigation.assess.yml
  src/site/content/en/learn/html/semantic-html/index.md
  src/site/content/en/learn/html/tables/index.md
  src/site/content/en/learn/html/tables/tables.assess.yml
  src/site/content/en/learn/html/text-basics/index.md
  src/site/content/en/learn/html/text-basics/text-basics.assess.yml
Labels: content

#9205 Corrects optimize INP subheader.
  src/site/content/en/blog/optimize-inp/index.md
Labels: P0, content update

#9231 Learn accessibility course - color contrast module
  src/site/content/en/learn/accessibility/color-contrast/index.md
Labels: content update

#9234 [ru] Fixed typo
  src/site/content/ru/metrics/cls/index.md
Labels: i18n

#9240 Year in Review video added to front page
  src/scss/blocks/_feature-card.scss
  src/site/_includes/homepage-next.njk
  src/site/content/en/index.md
  src/site/content/es/index.md
  src/site/content/ja/index.md
  src/site/content/ko/index.md
  src/site/content/pl/index.md
  src/site/content/pt/index.md
  src/site/content/ru/index.md
  src/site/content/zh/index.md
Labels: content

#9259 Removes mention of `IntersectionObserver` callbacks in the Optimize INP guide.
  src/site/content/en/blog/optimize-inp/index.md
Labels: P2, content update

#9279 TOC structure and naming Learn A11y modules
  src/site/_data/courses/accessibility/toc.yml
  src/site/content/en/learn/accessibility/color-contrast/index.md
  src/site/content/en/learn/accessibility/javascript/index.md
  src/site/content/en/learn/accessibility/measure/index.md
  src/site/content/en/learn/accessibility/test-assistive-technology/index.md
  src/site/content/en/learn/accessibility/test-automated/index.md
  src/site/content/en/learn/accessibility/test-manual/index.md
  src/site/content/en/learn/accessibility/typography/index.md
  src/site/content/en/learn/accessibility/why/index.md
Labels: content update
