Repository GoogleChrome/web.dev, pull requests merged in 2022-09, with the labels that each got.

#8634 Make text more exact
  src/site/content/en/blog/is-it-modal/index.md
Labels: P2, content update

#8635 Removes two older guides and redirects them to newer content.
  package-lock.json
  redirects.yaml
  src/site/content/en/blog/speed-txt-compression/index.md
  src/site/content/en/blog/webperformance-basics/index.md
Labels: P2, content update

#8588 Do not add an id to h1 in posts
  src/site/_includes/partials/post-next.njk
Labels: eng

#8565 Break words in `p code` elements
  src/scss/next.scss
Labels: eng, eng - UI

#8648 Fixed: loop dropping out at first non file entry
  src/site/content/en/blog/file-system-access/index.md
Labels: content

#8642 Fix typo in Russian CLS metrics article
  src/site/content/ru/metrics/cls/index.md
Labels: blocked, l18n

#8666 Add Twitter space on CSS Subgrid
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/spaces/2022-09-16-subgrid/index.md
Labels: content

#8628 Added links to relevant DevTools docs
  src/site/content/en/blog/new-responsive/index.md
  src/site/content/en/learn/css/flexbox/index.md
  src/site/content/en/learn/css/grid/index.md
  src/site/content/en/learn/design/micro-layouts/index.md
Labels: content update

#8676 Add id manifest property
  src/site/content/en/progressive-web-apps/add-manifest/index.md
Labels: content

#8672 [File System Access article] Say Android support for OPFS is coming
  src/site/content/en/blog/file-system-access/index.md
Labels: content

#8704 Create index.md
  src/site/content/en/blog/submit-your-proposals-for-interop-2023/index.md
Labels: content, new content

#8709 feat: speedy css tip animated loader post
  src/site/content/en/blog/speedy-css-tip-animated-loader/index.md
Labels: quick-post

#8680 New Post - Testing web design color contrast
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/testing-web-design-color-contrast/index.md
Labels: content

#8719 Adds LCP info to the preload responsive images guide.
  src/site/content/en/blog/preload-responsive-images/index.md
Labels: P2, content update, vitals

#8681 Learn HTML setup and initial modules.
  src/images/courses/html/background.svg
  src/images/courses/html/card-decor.svg
  src/images/courses/html/card.svg
  src/images/courses/html/logo.svg
  src/site/_data/authorsData.json
  src/site/_data/courses/html/meta.yml
  src/site/_data/courses/html/toc.yml
  src/site/_data/i18n/authors.yml
  src/site/_data/i18n/courses.yml
  src/site/content/en/learn/html/apis/index.md
  src/site/content/en/learn/html/attributes/index.md
  src/site/content/en/learn/html/audio-video/index.md
  src/site/content/en/learn/html/details/index.md
  src/site/content/en/learn/html/dialog/index.md
  src/site/content/en/learn/html/document-structure/document-structure.assess.yml
  src/site/content/en/learn/html/document-structure/index.md
  src/site/content/en/learn/html/focus/index.md
  src/site/content/en/learn/html/forms/index.md
  src/site/content/en/learn/html/headings-and-sections/headings-and-sections.assess.yml
  src/site/content/en/learn/html/headings-and-sections/index.md
  src/site/content/en/learn/html/html.11tydata.js
  src/site/content/en/learn/html/images/index.md
  src/site/content/en/learn/html/index.md
  src/site/content/en/learn/html/inline-text/index.md
  src/site/content/en/learn/html/links/index.md
  src/site/content/en/learn/html/lists/index.md
  src/site/content/en/learn/html/metadata/index.md
  src/site/content/en/learn/html/metadata/metadata.assess.yml
  src/site/content/en/learn/html/navigation/index.md
  src/site/content/en/learn/html/overview/index.md
  src/site/content/en/learn/html/overview/overview.assess.yml
  src/site/content/en/learn/html/semantic-html/index.md
  src/site/content/en/learn/html/semantic-html/semantic-html.assess.yml
  src/site/content/en/learn/html/tables/index.md
  src/site/content/en/learn/html/template/index.md
  src/site/content/en/learn/html/text-basics/index.md
Labels: DO NOT MERGE

#8567 fix performance.measureUserAgentSpecificMemory demo and update article
  src/site/content/en/blog/monitor-total-page-memory-usage/index.md
Labels: content, content update

#8757 Tweaks to Learn A11y
  src/site/content/en/learn/accessibility/color-contrast/index.md
  src/site/content/en/learn/accessibility/typography/index.md
Labels: content update

#8730 Adds the optimize long tasks guide.
  src/site/_data/authorsData.json
  src/site/content/en/blog/optimize-long-tasks/index.md
Labels: P1, content
