Repository GoogleChrome/web.dev, pull requests merged in 2023-04, with the labels that each got.

#9865 Fixes link to Chromium dev blog post in WASM libraries post.
  src/site/content/en/blog/wasm-libraries/index.md
Labels: P0, content update

#8471 Add Korean Translations for Mini-Apps
  src/site/_data/i18n/paths/mini_apps.yml
  src/site/_data/i18n/tags.yml
  src/site/content/ko/mini-apps/index.njk
  src/site/content/ko/mini-apps/mini-app-about/index.md
  src/site/content/ko/mini-apps/mini-app-alternative-runtime-environments/index.md
  src/site/content/ko/mini-apps/mini-app-components/index.md
  src/site/content/ko/mini-apps/mini-app-conclusion/index.md
  src/site/content/ko/mini-apps/mini-app-devtools/index.md
  src/site/content/ko/mini-apps/mini-app-example-project/index.md
  src/site/content/ko/mini-apps/mini-app-markup-styling-and-scripting/index.md
  src/site/content/ko/mini-apps/mini-app-open-source-projects/index.md
  src/site/content/ko/mini-apps/mini-app-programming-way/index.md
  src/site/content/ko/mini-apps/mini-app-project-structure-lifecycle-and-bundling/index.md
  src/site/content/ko/mini-apps/mini-app-standardization/index.md
  src/site/content/ko/mini-apps/mini-app-super-apps/index.md
  src/site/content/ko/mini-apps/mini-app-what-are-h5-and-quickapp/index.md
Labels: i18n, Translation

#9868 Slow Roads post
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/slow-roads/index.md
Labels: content, blog, new content

#9831 fix wrongfully swapped links in Korean CLS doc translation
  src/site/content/ko/metrics/cls/index.md
Labels: cla: yes

#9918 Updated broken link
  src/site/content/en/blog/browser-level-lazy-loading-for-cmss/index.md
Labels: content update
