Repository GoogleChrome/web.dev, pull requests merged in 2023-09, with the labels that each got.

#10372 Adds engineer names from Terra in footnote.
  src/site/content/en/blog/terra-prefetching-case-study/index.md
Labels: P2, content update

#10379 Test Automation post 5
  src/site/content/en/blog/ta-test-coverage/index.md
Labels: test-automation

#10393 Update Alexandra's author image
  src/site/_data/authorsData.json
Labels: $-presubmit

#10421 Adds effective ads loading post.
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/content/en/blog/loading-ads-page-speed/index.md
Labels: P1, content, vitals
