Repository GoogleChrome/web.dev, pull requests merged in 2023-06, with the labels that each got.

#10131 Fixes broken link in `<figcaption>` in AVIF updates post.
  src/site/content/en/blog/avif-updates-2023/index.md
Labels: P2, content update

#10134 Securely hosting data article
  src/site/_data/authorsData.json
  src/site/_data/i18n/authors.yml
  src/site/_data/paths/secure.json
  src/site/content/en/secure/securely-hosting-user-data/index.md
Labels: DO NOT MERGE, content

#10151 Updates various performance profiler screenshots in INP guides.
  src/site/content/en/blog/avoid-large-complex-layouts-and-layout-thrashing/index.md
  src/site/content/en/blog/optimize-inp/index.md
  src/site/content/en/blog/optimize-long-tasks/index.md
  src/site/content/en/blog/origin-private-file-system/index.md
  src/site/content/en/blog/reduce-the-scope-and-complexity-of-style-calculations/index.md
  src/site/content/en/how-to-optimize-inp/client-side-rendering-of-html-and-interactivity/index.md
  src/site/content/en/how-to-optimize-inp/diagnose-slow-interactions-in-the-lab/index.md
  src/site/content/en/how-to-optimize-inp/dom-size-and-interactivity/index.md
  src/site/content/en/how-to-optimize-inp/optimize-input-delay/index.md
  src/site/content/en/how-to-optimize-inp/script-evaluation-and-long-tasks/index.md
Labels: P2, content update, vitals

#10075 Updates INP metric doc.
  src/site/content/en/blog/optimize-inp/index.md
  src/site/content/en/metrics/inp/index.md
Labels: P1, content update, vitals
