Repository GoogleChrome/web.dev, pull requests merged in 2023-02, with the labels that each got.

#9479 Interop 2023 post
  src/site/content/en/blog/interop-2023/index.md
Labels: content

#9579 Add a warning to web-bundles article
  src/site/content/en/blog/web-bundles/index.md
Labels: content update

#9625 Fixes incorrect `PerformanceObserver` code in nav/resource timing article.
  src/site/content/en/fast/navigation-and-resource-timing/index.md
Labels: content update

#9576 Learn HTML (modules 12-20)
  src/site/_data/courses/html/toc.yml
  src/site/content/en/blog/learn-html-available/index.md
  src/site/content/en/learn/html/apis/apis.assess.yml
  src/site/content/en/learn/html/apis/index.md
  src/site/content/en/learn/html/audio-video/audio-video.assess.yml
  src/site/content/en/learn/html/audio-video/index.md
  src/site/content/en/learn/html/conclusion/index.md
  src/site/content/en/learn/html/details/details.assess.yml
  src/site/content/en/learn/html/details/index.md
  src/site/content/en/learn/html/dialog/dialog.assess.yml
  src/site/content/en/learn/html/dialog/index.md
  src/site/content/en/learn/html/focus/focus.assess.yml
  src/site/content/en/learn/html/focus/index.md
  src/site/content/en/learn/html/forms/forms.assess.yml
  src/site/content/en/learn/html/forms/index.md
  src/site/content/en/learn/html/images/images.assess.yml
  src/site/content/en/learn/html/images/index.md
  src/site/content/en/learn/html/inline-text/index.md
  src/site/content/en/learn/html/inline-text/inline-text.assess.yml
  src/site/content/en/learn/html/template/index.md
  src/site/content/en/learn/html/template/template.assess.yml
Labels: DO NOT MERGE, content
