Repository GoogleChrome/web.dev, changes with the owners that CODEOWNERS names for each.
All owners: @robdodson, @samthor, @Meggin, @ekharvey, @AVGP, @addyosmani, @housseindjirdeh, @khempenius, @petele, @jeffposnick, @kosamari, @TimvdLippe, @ebidel

CODEOWNERS:

# Auto-assign owners for different areas of the site.
# These folks will automatically get tagged to review PRs in their area.
# Read more @ https://help.github.com/articles/about-code-owners/

# Default owners for everything
* @robdodson @samthor

# Guide collections
/content/ @Meggin @robdodson @samthor
/content/accessible/ @robdodson @samthor
/content/discoverable/ @ekharvey @AVGP @robdodson @samthor
/content/fast/ @addyosmani @housseindjirdeh @khempenius @robdodson @samthor
/content/installable/ @petele @robdodson @samthor
/content/reliable/ @jeffposnick @robdodson @samthor
/content/secure/ @kosamari @robdodson @samthor

# Build scripts
/lib/ @TimvdLippe @robdodson @samthor

# Measure page
/content/measure.html @ebidel @TimvdLippe @robdodson @samthor

# Preview server
/server/ @ebidel @robdodson @samthor

Add missing comma (#601)
  content/fast/serve-modern-code-to-modern-browsers/codelab-serve-modern-code.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Update README.md
  README.md
Owners: @robdodson, @samthor

Update README.md (#611)
  README.md
Owners: @robdodson, @samthor

Fix typos + remove Glitch button
  content/fast/using-bundlesize-with-travis-ci/index.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Update for new review comments
  content/about.html
Owners: @Meggin, @robdodson, @samthor

Minor wording changes to bundlesize markdown
  content/fast/using-bundlesize-with-travis-ci/index.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Update overview for "fast section"
  content/fast/guides.yaml
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Update instructions in "Replace GIFs with video"
  content/fast/replace-gifs-with-videos/codelab-replace-gifs-with-video.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Update Lazysizes codelab
  content/fast/use-lazysizes-to-lazyload-images/codelab-use-lazysizes-to-lazyload-images.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Extend lazysizes doc with pictures
  content/fast/use-lazysizes-to-lazyload-images/index.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Update code example
  content/fast/use-lazysizes-to-lazyload-images/index.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Bundlesize2 (#594)
  content/fast/incorporate-performance-budgets-into-your-build-tools/bundlesize-check.jpg
  content/fast/incorporate-performance-budgets-into-your-build-tools/bundlesize-status.jpg
  content/fast/incorporate-performance-budgets-into-your-build-tools/index.md
  content/fast/using-bundlesize-with-travis-ci/advanced-options-button.png
  content/fast/using-bundlesize-with-travis-ci/bundlesize-check-diff.jpg
  content/fast/using-bundlesize-with-travis-ci/bundlesize-check.jpg
  content/fast/using-bundlesize-with-travis-ci/bundlesize-fail.png
  content/fast/using-bundlesize-with-travis-ci/bundlesize-pass.png
  content/fast/using-bundlesize-with-travis-ci/console-button.png
  content/fast/using-bundlesize-with-travis-ci/export-to-github-button.png
  content/fast/using-bundlesize-with-travis-ci/failed-bundlesize-check.png
  content/fast/using-bundlesize-with-travis-ci/index.md
  content/fast/using-bundlesize-with-travis-ci/passed-bundlesize-check.png
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Add topics to path yaml
  _includes/guide.njk
  _includes/path.njk
  content/en/accessible/control-focus-with-tabindex/index.md
  content/en/accessible/index.md
  content/en/accessible/style-focus/index.md
  content/en/accessible/what-is-accessibility/index.md
Owners: @robdodson, @samthor, @Meggin

Typo
  content/en/accessible/control-focus-with-tabindex/index.md
Owners: @Meggin, @robdodson, @samthor

Correct .mjs, .js typo (#607)
  content/fast/serve-modern-code-to-modern-browsers/codelab-serve-modern-code.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

New section 'Optimize your CSS' + first article of the series 'Defer unused CSS'.
  content/fast/defer-unused-css/cdt-perf-optimized.png
  content/fast/defer-unused-css/cdt-perf-unoptimized.png
  content/fast/defer-unused-css/coverage-unoptimized.png
  content/fast/defer-unused-css/index.md
  content/fast/defer-unused-css/lighthouse-metrics-optimized.png
  content/fast/defer-unused-css/lighthouse-opportunities-optimized.png
  content/fast/defer-unused-css/lighthouse-unoptimized.png
  content/fast/guides.yaml
  content/images/contributors/demianrenzulli.jpg
  contributors/_contributors.yaml
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor, @Meggin

Use explicit path TOC instead of pure collections
  .eleventy.js
  _data/guideCollections/accessible.js
  _data/paths/accessible.js
  _includes/guide.njk
  _includes/path.njk
  content/en/accessible/control-focus-with-tabindex/index.md
  content/en/accessible/index.md
  gulpfile.js
  templateHelpers.js
Owners: @robdodson, @samthor, @Meggin

copy for brotli
  content/fast/reduce-network-payloads-using-text-compression/codelab-text-compression-brotli.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Don't judge me.
  templates/glitch.html
  templates/guide.html
Owners: @robdodson, @samthor

Don't judge me. (#618)
  templates/glitch.html
  templates/guide.html
Owners: @robdodson, @samthor

Move nextGuide and titleLookup logic from eleventy config to macros file, to expose it in template
  .eleventy.js
  _data/paths/accessible.js
  _includes/guide.njk
  _includes/macros.njk
  _includes/path.njk
  content/en/accessible/control-focus-with-tabindex/index.md
  content/en/accessible/index.md
  content/en/accessible/style-focus/index.md
  content/en/accessible/what-is-accessibility/index.md
  gulpfile.js
  templateHelpers.js
Owners: @robdodson, @samthor, @Meggin

Adds a note about immutable
  content/reliable/http-cache/index.md
Owners: @jeffposnick, @robdodson, @samthor

Correct `cache-control` directive
  content/secure/cross-origin-resource-sharing/index.md
Owners: @kosamari, @robdodson, @samthor

Update imagemin codelabs. Fixes #541
  content/fast/use-imagemin-to-compress-images/codelab-imagemin-grunt.md
  content/fast/use-imagemin-to-compress-images/codelab-imagemin-gulp.md
  content/fast/use-imagemin-to-compress-images/codelab-imagemin-webpack.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

udpates
  content/fast/use-imagemin-to-compress-images/codelab-imagemin-grunt.md
  content/fast/use-imagemin-to-compress-images/codelab-imagemin-gulp.md
  content/fast/use-imagemin-to-compress-images/codelab-imagemin-webpack.md
Owners: @addyosmani, @housseindjirdeh, @khempenius, @robdodson, @samthor

Adds a note about the Cache-Control property "immutable" (#619)
  content/reliable/http-cache/index.md
Owners: @jeffposnick, @robdodson, @samthor
